.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
  
.Auth-form {
    width: 420px;
    box-shadow: rgb(0 0 0 / 16%) 1px 1px 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    border-radius: 8px;
    background-color: white;
  
  }

  .otp-input-area{
    padding: 10px;
    width: calc( 100% - 30px );
    border: solid 1px #0000003e;
    font-size: 13px;
    margin-bottom: 2em;
  }
  
  .Auth-form-content {
    text-align: center;
    margin-bottom: 2em;
    padding-left: 12%;
    padding-right: 12%;
  }
  
  .Auth-form-title {
    text-align: center;
    margin-bottom: em;
    font-size: 26px;
    color: rgb(34, 34, 34);
    font-weight: 800;
  }

  .Otp-btn{
    margin-top: 10px;
    padding: 10px 5px;
    background-color: #009dff;
    border: solid 1px #009dff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 13px;
    font-weight: 500;
    width: 200px;
    margin-bottom: 2em
    
}

.Otp-btn{
    background-color: #018ce3;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }